  <body [style.background]="'url(' + bodyBackgroundImage + ') center center fixed no-repeat'">
    <div class="container">
      <img src="../assets/finding_nemo_text.png" alt="Find Nemo Game" class="title-image">
      <div class="grid">
        <div class="cell" *ngFor="let cell of cells; let i = index" (click)="cellClicked(i)" [style.backgroundImage]="'url(assets/' + cell+ ')'"></div>
      </div>
      <div class="message">{{ message }}</div>
      <button class="play-again" (click)="playAgain()">Play Again</button>
    </div>
  
  </body>